@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hkgrotesk-regular.woff2") format("woff2"),
    url("../fonts/hkgrotesk-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hkgrotesk-medium.woff2") format("woff2"),
    url("../fonts/hkgrotesk-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hkgrotesk-bold.woff2") format("woff2"),
    url("../fonts/hkgrotesk-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
