@media (min-width: 992px)
  .header
    &__link
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 0%
        height: 2px
        background-color: $secondary
        transition: linear 0.3s
      &:hover::after
        width: 100%
    &__button
      position: relative
      transition: 0.2s
      overflow: hidden
      &:hover
        background-color: $light
        border-color: $primary
        color: $primary
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: -100%
        background: linear-gradient(90deg, transparent, #fff, transparent)
        transition: 0.5s
      &:hover::before
        left: 100%
  .hero
    &__button
      position: relative
      transition: 0.2s
      overflow: hidden
      &:hover
        background-color: lighten($secondary, 10)
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: -100%
        background: linear-gradient(90deg, transparent, #fff, transparent)
        transition: 0.5s
      &:hover::before
        left: 100%
  .collection
    &-link
      &__text
        position: relative
        &::after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 0%
          height: 2px
          background-color: $light
          transition: linear 0.3s
        &:hover::after
          width: 100%
  .tabs
    &__item
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 0%
        height: 2px
        background-color: $secondary
        transition: ease 0.2s
      &:hover::after
        width: 100%
  .trends
    &-card
      transition: ease 0.3s
      &:hover
        box-shadow: 0 0 50px $secondary
        border-radius: 8px
      &__more
        transition: ease 0.3s
        &:hover
          box-shadow: 0 0 50px $secondary
          border-radius: 8px
  .pricetag
    &__button
      cursor: pointer
  .history
    &__button
      cursor: pointer
      &:hover
        background-color: darken($primary, 5)
    &__more
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        height: 2px
        background-color: $light
        width: 100%
        transition: ease-in-out 0.3s
        transform: scale(0)
      &:hover::after
        transform: scale(1)
  .newsletter
    &__button
      transition: 0.2s
      overflow: hidden
      &:hover
        background-color: lighten($secondary, 10)
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: -100%
        background: linear-gradient(90deg, transparent, #fff, transparent)
        transition: 0.5s
      &:hover::before
        left: 100%
  .social
    &__link
      img
        transition: linear 0.2s
        &:hover
          border-radius: 50%
          box-shadow: 0px 0px 30px darken($primary, 70)
  .footer
    &-nav
      &__link
        position: relative
        &::before
          content: ''
          position: absolute
          bottom: 0
          width: 100%
          height: 2px
          background-color: $secondary
          transition: ease 0.3s
          transform: scale(0)
        &:hover::before
          transform: scale(1)
  .modal
    &__button
      position: relative
      transition: 0.2s
      overflow: hidden
      &:hover
        background-color: lighten($secondary, 10)
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: -100%
        background: linear-gradient(90deg, transparent, #fff, transparent)
        transition: 0.5s
      &:hover::before
        left: 100%

@media (max-width: 1330px)
  .container 
    width: 90%
  .hero
    width: 90%

@media (max-width: 1250px)
  .collection
    &__right
      max-width: 60%
    &-wrapper
      flex-direction: column
      align-items: center

@media (max-width: 1140px) 
  .trends
    &-card
      &__more
        font-size: 21px
  .history
    &-wrapper
      flex-direction: column
      align-items: center
    &__title
      max-width: unset
    &__description
      max-width: 556px
    &__left
      text-align: center
    &__right
      padding-top: 25px
  .newsletter
    min-height: 402px
    padding-top: 67px
    &-wrapper
      flex-direction: column
      align-items: center
    &__description
      margin-bottom: 56px
    &__left
      text-align: center
    &__right
      margin-right: 0
      margin-left: 0
  .footer
    &-wrapper
      justify-content: center
      grid-template-columns: 265px repeat(2, 165px)
  .company
    grid-column: 2

@media (max-width: 1000px) 
  .header 
    padding-top: 26px
    padding-bottom: 43px
    &-wrapper
      width: 94%
      margin: 0 auto
    &-menu, &__button
      display: none
  .mobile
    &--active
      display: flex
      justify-content: center
      flex-direction: column
      position: fixed
      top: 0
      min-width: 304px
      left: 8px
      right: 8px
      background-color: $primary
      z-index: 2
      padding: 26px 24px
  .menu
    &-mobile
      &__button
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-between
        width: 24px
        height: 20px
        border: none
        background-color: $primary
        outline: none
        &-line
          width: 22px
          height: 2px
          background-color: $dark
  .hero
    width: 95%
    padding-top: 36px
    padding-left: 28px
    min-height: 624px
    background-position: bottom -58px right -193px
    &__badge
      margin-bottom: 19px
    &__title
      font-size: 48px
      line-height: 60px
      margin-bottom: 24px
    &__description
      max-width: 400px
      margin-bottom: 36px
      font-size: 18px
      line-height: 32px
    &__benefits
      max-width: 437px
      margin-top: 38px
  .collection
    padding-top: 80px
    &__right
      max-width: 100%
    &__title
      padding-top: 36px
      padding-left: 8px
      font-size: 48px
      line-height: 60px
    &__description
      max-width: 688px
      font-size: 20px
      line-height: 36px
      padding-left: 10px
      margin-bottom: 23px
    &-link
      &__text
        padding-left: 8px
  .trends
    &-cards
      justify-content: center
      grid-template-columns: repeat(2, minmax(200px, 261px))
      grid-template-rows: repeat(4, 441px) 


@media (max-width: 770px)
  .hero
    &__benefits
      margin-top: 37px
  .trends
    padding-top: 75px
    &__top
      flex-direction: column
      align-items: center
    &-cards
      padding-top: 56px
      grid-template-columns: repeat(2, minmax(200px, 280px))
      gap: 48px 42px
    &-card
      &__image
        margin-bottom: 17px
      &__title
        padding-left: 4px
      &__more
        max-width: unset
        font-size: 23px
        &::before
          top: 116px
          left: 49%
  .tabs
    margin: 0
    padding-top: 31px
  .pricetag
    max-width: 264px
    &__price
      padding-left: 3px
  .testimonial
    padding-top: 91px
    padding-bottom: 71px
    &-slider
      height: 417px
    &__text
      padding-left: 32px
      padding-right: 28px
      font-size: 19px
      line-height: 42px
      margin-bottom: 26px
    &__icon
      padding-left: 0
      margin-bottom: 34px
    &__author
      padding-left: 0
    &--hidden
      &-tablet
        display: none
  .history
    padding-bottom: 233px
    &__badge
      margin-bottom: 21px
    &__title
      margin-bottom: 20px
    &__description
      margin-bottom: 35px
    &__right
      padding-top: 36px
    &-slide
      justify-content: space-evenly
    &-slider
      width: 728px
    &-info
      padding-top: 18px
      padding-left: 13px
  .footer
    padding-top: 64px
    &-wrapper
      grid-template-columns: 265px repeat(2, 175px)
      gap: 32px 18px
  .modal
    &-dialog
      width: 450px

@media (max-width: 710px)
  .history
    &__description
      max-width: 480px
      margin: auto
    &-slider
      width: unset
    &-slide
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 839px
  .collection
    &__left
      grid-template-columns: repeat(2, 265px)
      grid-template-rows: repeat(3, minmax(230px, min-content))
    &__image
      &--big
        grid-area: span 2 / span 2
        width: 100%
        height: 100%
      &--small
        width: 100%
        height: 100%
  .footer
    &-wrapper
      grid-template-columns: 180px repeat(2, 175px)

@media (max-width: 590px)
  .section
    &-title
      text-align: center
    &-description
      text-align: center
  .hero
    min-height: 900px
    background-repeat: no-repeat
    background-size: cover
    padding-top: 350px
    text-align: center
    &__title
      margin: auto
      font-size: 32px
      line-height: 40px
    &__description
      margin: auto
      margin-top: 20px
      font-size: 16px
      line-height: 28px
    &__button
      margin-top: 24px
      margin-bottom: 22px
      font-size: 16px
      line-height: 22px
    &-benefits
      margin: auto
      flex-wrap: wrap
      max-width: 350px
      justify-content: space-evenly
      height: 100px
    &__image
      display: none
      &--mobile
        display: block
        padding: 7.5px
        border: 0.75px solid lighten($light, 40)
        border-radius: 12px
  .collection
    &__left
        grid-template-columns: repeat(2, minmax(130px, 200px))
    &-link
      display: none
    &__image
      object-fit: cover
  .testimonial
    &-slider
      height: 555px
  .footer
    &-wrapper
      grid-template-columns: repeat(2, 223px)
      justify-content: start
  .social
    text-align: center
    grid-row: 5
    justify-self: center
    &-icons
      margin: auto
  .navigation, .company, .services, .contacts, .social
    grid-column: span 2
  
@media (max-width: 540px)
  .header
    padding-top: 18px
    padding-bottom: 42px
  .hero
    padding-left: 0
    width: 100%
    padding-top: 374px
    background-image: url('./../img/mobile-header.jpg')
    background-position: unset
    &__badge
      margin-bottom: 13px
    &__description
      max-width: 280px
      margin-top: 23px
    &__button
      padding: 11.5px 47px
      margin-top: 23px
      margin-bottom: 13px
    &-benefits
      justify-content: space-evenly
      height: 80px
    &__image
      &-text
        margin-left: 10px
  .collection
    padding-top: 63px
    &__left
      grid-template-rows: repeat(2, minmax(0px, min-content))
      gap: 14px
    &__title
      padding-top: 33px
      padding-left: 0
      margin-bottom: 23px
      font-size: 28px
      line-height: 36px
    &__description
      font-size: 16px
      line-height: 28px
      max-width: 280px
      padding-left: 7px
    &__image
      &--big
        height: 300px
        grid-area: span 1 / span 2
      &--small
        width: 100%
        height: 97px
  .trends
    padding-top: 83px
    padding-left: 0
    &-cards
      padding-top: 34px
      grid-template-columns: repeat(2, minmax(0px, 274px))
      grid-template-rows: repeat(4, 234px)
      gap: 20px 10px
      justify-items: center
    &-card
      &__image
        width: 140px
        height: 170px
        margin-bottom: 12px
      &__title
        font-size: 16px
        line-height: 20px
        padding-left: 0
      &__more
        width: 140px
        height: 170px
        &::before
          top: 35px
        &-text
          padding-top: 60px
          font-size: 17px
          line-height: 20px
    &__title
      font-size: 28px
      line-height: 36px
  .tabs
    padding-top: 24px
    min-width: 224px
  .wrap
    white-space: normal
  .pricetag
    max-width: 58px
    &__price
      padding-left: 0
      font-size: 14px
      line-height: 24px
    &__button
      width: 14px
      height: 14px
  .testimonial 
    padding-top: 48px
    padding-bottom: 35px
    &--hidden
      display: none
    &-slider
      height: 552px
    &__text
      font-size: 18px
      line-height: 36px
      padding-left: 0
      padding-right: 0
      margin-bottom: 25px
      letter-spacing: 0.12px
    &__icon
      width: 70px
      height: 81px
      margin-bottom: 8px
    &__author
      display: inline-block
      max-width: 168px
      padding-left: 0
    &__wrap
      display: block
  .history
    padding-bottom: 182px
    &-slide
      height: 711px
    &-info
      padding-top: 9px
      padding-left: 15px
    &__badge
      margin-bottom: 18px
    &__title
      font-size: 28px
      line-height: 36px
      &--hidden
        display: none
    &__description
      font-size: 16px
      line-height: 28px
      margin-bottom: 35px
    &__button
      width: 47px
      height: 47px
    &__image
      width: 270px
      height: 277px
    &__text
      font-size: 20px
      line-height: 24px
      margin-bottom: 17px
  .newsletter
    padding-top: 61px
    min-height: 414px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 25px
    &__description
      font-size: 16px
      line-height: 28px
      margin-bottom: 38px
    &__form
      width: 280px
    &__input
      min-height: 48px
    &__button
      top: 171%
      width: 100%
      right: 0
  .footer
    padding-top: 48px
    &-wrapper
      grid-template-columns: repeat(1, 223px)
      gap: 14px 18px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 21px
    &-nav
      &__item:not(:last-child) 
        margin-bottom: 15px;
      &__link
        font-size: 14px
        line-height: 20px
  .navigation, .company, .services, .contacts
    padding-left: 18px
  .social
    padding-top: 30px
    padding-left: 17px
    justify-self: flex-start
    grid-column: span 2
    &__text
      max-width: 262px
      margin-top: 12px
      font-size: 14px
      line-height: 24px
      margin-bottom: 22px

@media (max-width: 480px)
  .modal
    &-dialog
      width: 340px
      padding: 30px 

@media (max-width: 380px)
  .modal
    &-dialog
      width: 300px