@media (max-width: 1330px)
  .container 
    width: 90%
  .hero
    width: 90%


@media (max-width: 1250px)
  .collection
    &__right
      max-width: 60%
    &-wrapper
      flex-direction: column
      align-items: center

@media (max-width: 1140px) 
  .trends
    &-card
      &__more
        font-size: 21px

@media (max-width: 1000px) 
  .header 
    padding-top: 26px
    padding-bottom: 48px
    &-wrapper
      width: 94%
      margin: 0 auto
    &-menu, &__button
      display: none
  .menu
    &-mobile
      &__button
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-between
        width: 24px
        height: 20px
        border: none
        background-color: $primary
        &-line
          width: 22px
          height: 2px
          background-color: $dark
  .hero
    width: 95%
    padding-top: 36px
    padding-left: 28px
    min-height: 624px
    background-position: bottom -58px right -193px
    &__badge
      margin-bottom: 19px
    &__title
      font-size: 48px
      line-height: 60px
      margin-bottom: 24px
    &__description
      max-width: 400px
      margin-bottom: 36px
      font-size: 18px
      line-height: 32px
    &__benefits
      max-width: 437px
      margin-top: 38px
  .collection
    padding-top: 80px
    &__right
      max-width: 100%
    &__title
      padding-top: 36px
      padding-left: 8px
      font-size: 48px
      line-height: 60px
    &__description
      max-width: 688px
      font-size: 20px
      line-height: 36px
      padding-left: 10px
      margin-bottom: 23px
    &-link
      &__text
        padding-left: 8px
  .trends
    &-cards
      justify-content: center
      grid-template-columns: repeat(2, minmax(200px, 261px))
      grid-template-rows: repeat(4, 441px)

@media (max-width: 770px)
  .trends
    padding-top: 75px
    &__top
      flex-direction: column
      align-items: center
    &-cards
      padding-top: 56px
      grid-template-columns: repeat(2, minmax(200px, 274px))
      gap: 48px 54px
    &-card
      &__image
        margin-bottom: 17px
      &__title
        padding-left: 4px
      &__more
        font-size: 23px
  .tabs
    margin: 0
    padding-top: 31px
  .pricetag
    max-width: 264px
    &__price
      padding-left: 3px