*, *:before, *:after
  box-sizing: border-box
  scroll-behavior: smooth

body 
  font-family: 'Open Sans', sans-serif
  background-color: $primary

.thanks
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh
  &-box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 200px
  &__title
    font-family: "HK Grotesk", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #183B56;
  &__button
    background-color: $secondary
    color: $primary
    margin-top: 20px
    padding: 6px 26px

.container
  max-width: 1136px
  margin: 0 auto

ul, li
  padding: 0
  list-style: none

h1, h2, h3, p 
  margin: 0

a, input, button
  outline: none

a
  text-decoration: none

.button
  border: 2px solid transparent
  border-radius: 8px
  cursor: pointer

.badge
  display: inline-block
  font-weight: 600
  font-size: 14px
  line-height: 20px
  padding: 6px 16px
  color: $badge
  text-transform: uppercase
  background: rgba(54, 179, 126, 0.1)
  border-radius: 2000px

.section
  &-title
    font-family: "HK Grotesk", serif
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $secondary
  &-description
    font-size: 20px
    line-height: 36px
    color: $light-text

.swiper
  &-pagination
    &-bullet
      width: 5px
      height: 5px
      border-radius: 50%
      background-color: $secondary
  &-button
    &-disabled
      opacity: 0.6

.invalid
  color: red
  text-decoration: underline
  margin-top: 18px
  width: 100%