.header
  background-color: $primary
  padding-top: 23px
  padding-bottom: 59px
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 506px
    margin-left: auto
    margin-right: 52px
  &__link
    color: $secondary
    font-size: 16px
    line-height: 22px
    font-weight: 600
  &__button
    border-color: $light
    background-color: $primary
    padding: 11px 18px
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $light
.menu
  &-mobile
    &-list
      &__item
        &:not(:last-child)
        margin-bottom: 20px
    &__link
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $secondary
    &__button
      display: none
    &__login
      font-weight: bold
      font-size: 16px
      line-height: 22px
      padding: 9px 101px
      border-color: $light
      background-color: $primary
      color: $light
    &__close
      position: absolute
      top: 16px
      right: 23px

.mobile
  position: fixed
  top: -100%
  transition: linear 0.3s